body {
    font-family: Arial, sans-serif;
    background-color: #050505; 
    color: white;
}
h1 {
    text-align: center;
    background-color: #1a0000;
    color: #ff1a1a;    
    text-transform: uppercase;
    letter-spacing: 2px;
}
table {
    width: 80%;
    margin: auto;
    background-color: #0d0d0d; 
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.2); 
}
th, td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #800000;
}
th {
    background-color: #1a0000;
    color: #ff1a1a;
}
button {
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
}
.delete-btn {
    background-color: #990000; 
    color: white;
}
.delete-btn:hover {
    background-color: #ff0000;
}
.buy-btn {
    background-color: #660000; 
    color: white;
}
.buy-btn:hover {
    background-color: #cc0000;
}
.total-price {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    background-color: #0d0d0d;
    padding: 15px;
    border-radius: 10px;
    color: #ff1a1a;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
}
tr:hover {
    background-color: #220000;
}