body {
    font-family: Arial, sans-serif;
    background-color: #050505;
    background-image: url(background_shoppingcart.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
    isolation: isolate;

}

.background_shoppingcart::after {
    content: '';
    position: absolute;
    z-index: -1;
    inset: 0;
    background: black;
    opacity: 0.9;



}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 10px;
    margin: 20px 0;
    text-align: center;
    background-color: #1a0000;
    color: #ef7f7f;
    text-transform: uppercase;
    letter-spacing: 2px;
}

h1 i {
    color: white;
    font-size: 2.5rem;
}

table {
    width: 80%;
    margin: auto;
    background-color: #0d0d0d;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: collapse;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.2);
}

th,
td {
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #800000;
}

th {
    background-color: #1a0000;
    color: #ff1a1a;
}

button {
    cursor: pointer;
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
    font-weight: bold;
}

.delete-btn {
    background-color: #990000;
    color: white;
}

.delete-btn:hover {
    background-color: #ff0000;
}

.buy-btn {
    background-color: #00b709;
    color: white;
}

.buy-btn:hover {
    background-color: #00b709;
}

.total-price {
    text-align: center;
    font-size: 22px;
    margin-top: 20px;
    background-color: #0d0d0d;
    padding: 15px;
    border-radius: 10px;
    color: #8cbd8f;
    font-weight: bold;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
}

tr:hover {
    background-color: #220000;
}