body{
background-image: url('all.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
margin: 0;
padding: 0;


}


.top{
    text-align: center;      
    font-size: 48px;            
    color: #ffffff;             
    text-shadow: 2px 2px 5px black;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    border: 3px solid white;       
  padding: 10px 20px;             
  width: fit-content;             
  margin-left: auto;            
  margin-right: auto;
  border-radius: 15px;           
}           
  

  .s1 {
    text-align: center;
    font-size: 28px;
    color: white;
  }
  #s2 {
    color:black;
    transition: all 0.3s ease;
  }
  
  #s2:hover {
    color: rgb(228, 28, 18);
    text-shadow: 0 0 10px rgb(203, 16, 16);
    cursor: pointer;
  }
  .footer {
    color: white;                
    text-align: center;         
    padding: 20px 0;        
    margin-top: 100px;            
    font-family: Arial, sans-serif;
    font-size: 18px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); 
  }
  
  .footer a {
    color: purple;             
    text-decoration: none;       
    margin: 0 10px;             
    transition: 0.3s;
  }
  
  .footer a:hover {
    color: red;             
    text-shadow: 0 0 5px black; 
  }
  