 .a1{
   color: black;
   background: linear-gradient(to right,#ff4500,black);
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;



}
.a2{
  color: #ff0000;
  text-decoration: none;
  font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.a2 a:hover{
color: aqua;
text-shadow: turquoise;
transform: scale(2.1);



}


body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}


.header {
    background: linear-gradient(to right, #8b0000, black);
    padding: 20px;
    text-align: center;
}

.header-title {
    margin: 0;
    color: white;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.nav-links a:hover {
    color: #ff4500;
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255, 69, 0, 0.7);  
}

.auth-links {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    margin-right: 50px;
  }
  
  .auth-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
  }
  
  .auth-links a:hover {
    color: #ff4500;
    transform: scale(1.1);
    text-shadow: 0 0 10px rgba(255, 69, 0, 0.7);
  }
  


.container {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
}


.left-section {
    flex: 1;
    padding: 20px;
    background: linear-gradient(to bottom, #8b0000, black);
    border-radius: 10px;
}


.left-section ul li a img  {
    width: 100px;
    height: 100px;
    border: 2px solid #ff0000



}


.main-content {
    flex: 2;
    padding: 20px;
    background: linear-gradient(to bottom, #8b0000, black);
    border-radius: 10px;
}


.right-section {
    flex: 1;
    padding: 20px;
    background: linear-gradient(to bottom, #8b0000, black);
    border-radius: 10px;
}


.footer {
    text-align: center;
    background: linear-gradient(to right, #8b0000, black);
    padding: 10px;
    margin-top: 20px;
    border-radius: 10px;
    border-top: 2px 
}


.footer-links {
    text-align: center;
    padding: 15px;
    background: linear-gradient(to right, #8b0000, black);
    border-radius: 10px;
}

.footer-links a:hover {
    color: rgb(201, 11, 11);
    text-decoration: none;
    font-weight: bold;
    padding: 10px;
}
.footer-button {
    background-color: #8b0000;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    margin: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.footer-button:hover {
    background-color: #b22222;
    color: #fff;
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}