body{
background-image: url('im6.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
display: flex;
flex-direction: column;
 align-items: center;
 justify-content: center;
  min-height: 90vh;
margin: 0;
padding: 0;

}
.gender{
font-size: medium;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-shadow: 2px 2px 5px black;
}

.s{
  width: 420px;
  color: white;
  border-radius: 12px;
  padding: 30px 40px;
  border: 2px solid rgba(225, 225, 225, .2);
  backdrop-filter: blur(10px);

}


.top{
    text-align: center;      
    font-size: 48px;            
    color: #ffffff;             
    text-shadow: 2px 2px 5px black;
    font-family: 'Arial', sans-serif;
    margin-top: 20px;
    border: 3px solid white;       
  padding: 10px 20px;             
  width: fit-content;             
  margin-left: auto;            
  margin-right: auto;
  border-radius: 15px;           
}           
  

  .s1 {
    text-align: center;
    font-size: 28px;
    color: white;
  }
  #s2 {
    color: black;
    transition: all 0.3s ease;
  }

  #s3 {
    color: white;
    transition: all 0.3s ease;
  }
  
  #s2:hover {
    color: rgb(228, 28, 18);
    text-shadow: 0 0 10px rgb(203, 16, 16);
    cursor: pointer;
  }
  #s3:hover {
    color: rgb(228, 28, 18);
    text-shadow: 0 0 10px rgb(203, 16, 16);
    cursor: pointer;
  }

  .input-pass {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    font-size: 16px;
    color: white;
    margin-top: 10px;
    cursor: pointer;
    text-align: left;
  }
  
  .input-pass input[type="checkbox"] {
    order: -1;
    width: 16px;
    height: 16px;
    accent-color: #ff007f; 
    cursor: pointer;
    transition: 0.3s ease;
  }
  
  .input-pass input[type="checkbox"]:hover {
    transform: scale(1.2); 
  }
  


  

  .footer {
    color: white;                
    text-align: center;         
    padding: 20px 0;        
    margin-top: 100px;            
    font-family: Arial, sans-serif;
    font-size: 18px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.5); 
  }
  
  .footer a {
    color: purple;             
    text-decoration: none;       
    margin: 0 10px;             
    transition: 0.3s;
  }
  
  .footer a:hover {
    color: red;             
    text-shadow: 0 0 5px black; 
  }
  